.section-when {
  height: 25vh;
  
  .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    .title, .subtitle {
      flex: 0 0 100%;
    } 
    .title {
      font-size: 1.5rem;
      @include from($tablet) {
        font-size: 2rem;
      }
    }
  }
  
}