.section-rsvp {
  color: $grey-lightest;
  background: $blue-dark;
  text-align: center;
  padding: 6em 1em;
  .title, .subtitle {
    color: $white;
    margin-bottom: 1em;;
  }
  svg {
    stroke: $white;
    fill: $white;
    margin-bottom: -4px;
    margin-right: 5px;
  }
  hr {
    background-color: $grey;
    border-color: $grey;
    margin: 3em;
  }
  p+p {
    margin-top: 1em;
  }
}